#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#clickToFade {
  cursor: pointer;
  color: #0088cc;
}

#clickToFade:hover {
  text-decoration: underline;
}

#clickToSlide {
  cursor: pointer;
  color: #0088cc;
}

#clickToSlide:hover {
  text-decoration: underline;
}
